In [1]:
import pandas as pd

In [12]:
pwd

'/Users/camhirsh/OneDrive/FILES/Mac2015/hackReactor/sdc/product/exploration'

In [16]:
400000 % 200000

0

In [3]:
product_df = pd.read_csv('../assets/product.csv')

In [29]:
product_df.head(101)

,id,name,slogan,description,category,default_price
0,1,Camo Onesie,Blend in to your crowd,The So Fatigues will wake you up and fit you i...,Jackets,140
1,2,Bright Future Sunglasses,You've got to wear shades,"Where you're going you might not need roads, b...",Accessories,69
2,3,Morning Joggers,Make yourself a morning person,Whether you're a morning person or not. Wheth...,Pants,40
3,4,Slacker's Slacks,"Comfortable for everything, or nothing",I'll tell you how great they are after I nap f...,Pants,65
4,5,Heir Force Ones,A sneaker dynasty,Now where da boxes where I keep mine? You shou...,Kicks,99
...,...,...,...,...,...,...
96,97,Earnest Coat,Ad dolor nostrum totam veritatis.,Exercitationem voluptas et ut enim ullam amet....,Coat,971
97,98,Tabitha Hoodie,Accusamus repudiandae commodi non porro.,Voluptate officia fugiat voluptate rerum. Corr...,Hoodie,39
98,99,Josiane Tank Top,Repudiandae animi doloribus magnam.,Unde eveniet hic iure a harum repellat archite...,Tank Top,605
99,100,Elody Cap,Sequi molestiae eos aut ratione deleniti et om...,Accusamus et tempore accusamus sunt accusamus ...,Cap,211
100,101,Vada Slacks,Voluptatibus dolores eum dolore sed alias vel ...,Maiores ratione qui alias libero a voluptatem ...,Slacks,697

In [7]:
styles_df = pd.read_csv('../assets/styles.csv')

In [38]:
styles_df.tail(10)

,id,productId,name,sale_price,original_price,default_style
1958092,1958093,1000009,White,NaN,872,1
1958093,1958094,1000009,Salmon,NaN,872,0
1958094,1958095,1000009,Cyan,198.0,872,0
1958095,1958096,1000009,Purple,NaN,872,0
1958096,1958097,1000009,Indigo,NaN,872,0
1958097,1958098,1000011,Ivory,NaN,587,1
1958098,1958099,1000011,Magenta,NaN,587,0
1958099,1958100,1000011,Orchid,NaN,587,0
1958100,1958101,1000011,Blue,NaN,587,0
1958101,1958102,1000011,Lavender,NaN,587,0

In [23]:
skus_df = pd.read_csv('../assets/skus.csv')

In [25]:
skus_df.tail()

                id  styleId  size  quantity
11323912  11323913  1958102    10        15
11323913  11323914  1958102  10.5        37
11323914  11323915  1958102    11        33
11323915  11323916  1958102  11.5        41
11323916  11323917  1958102    12        53

In [8]:
# errors due to unexpected extra column for some rows??
photos_df = pd.read_csv('photos.csv')

ParserError: Error tokenizing data. C error: Expected 4 fields in line 49, saw 5

In [22]:
photos_df = pd.read_csv("../assets/photos.csv", error_bad_lines=False)

b'Skipping line 49: expected 4 fields, saw 5\nSkipping line 203: expected 4 fields, saw 5\nSkipping line 216: expected 4 fields, saw 5\nSkipping line 224: expected 4 fields, saw 5\nSkipping line 231: expected 4 fields, saw 5\nSkipping line 243: expected 4 fields, saw 5\nSkipping line 248: expected 4 fields, saw 5\nSkipping line 255: expected 4 fields, saw 5\nSkipping line 262: expected 4 fields, saw 5\nSkipping line 269: expected 4 fields, saw 5\n'

In [41]:
photos_df.tail(200)

,id,styleId,url,thumbnail_url
5655436,5655520,1958037,https://images.unsplash.com/photo-149244710526...,https://images.unsplash.com/photo-149985284844...
5655437,5655521,1958038,https://images.unsplash.com/photo-1559304022-a...,https://images.unsplash.com/photo-146310009910...
5655438,5655522,1958038,https://images.unsplash.com/photo-146283386703...,https://images.unsplash.com/photo-151202398326...
5655439,5655523,1958038,https://images.unsplash.com/photo-148717424497...,https://images.unsplash.com/photo-152329635741...
5655440,5655524,1958039,https://images.unsplash.com/photo-153082187596...,https://images.unsplash.com/photo-151727832222...
...,...,...,...,...
5655631,5655715,1958101,https://images.unsplash.com/photo-152611343875...,https://images.unsplash.com/photo-148877857893...
5655632,5655716,1958102,https://images.unsplash.com/photo-1554921148-8...,https://images.unsplash.com/photo-1553830591-d...
5655633,5655717,1958102,https://images.unsplash.com/photo-149072328662...,https://images.unsplash.com/photo-144787902758...
5655634,5655718,1958102,https://images.unsplash.com/photo-1548861216-1...,https://images.unsplash.com/photo-1553830591-2...
5655635,5655719,1958102,https://images.unsplash.com/photo-144795827266...,https://images.unsplash.com/photo-145417764339...

In [11]:
styles_df = pd.read_csv("styles.csv")

In [12]:
styles_df.head()

,id,productId,name,sale_price,original_price,default_style
0,1,1,Forest Green & Black,NaN,140,1
1,2,1,Desert Brown & Tan,NaN,140,0
2,3,1,Ocean Blue & Grey,100.0,140,0
3,4,1,Digital Red & Black,NaN,140,0
4,5,1,Sky Blue & White,100.0,140,0

In [82]:
# product: id name category slogan description default price
# syles: 
product_df.loc[len(product_df.index) - 1]

id                                                         1000011
name                                              Evangeline Shoes
slogan                     Aut recusandae tenetur sint laudantium.
description      Sunt recusandae laborum aut ut voluptatum in m...
category                                                     Shoes
default_price                                                  587
Name: 1000010, dtype: object

In [83]:
product_db = {}

for i in range(len(product_df.index) - 1):
    row = product_df.loc[i]
    product_db[row.id] = {
        'id': row.id,
        'name': row.name,
        'slogan': row.slogan,
        'category': row.category,
        'description': row.description,
        'default_price': row.default_price,
        'styles': {}
    }
print(product_db[1])

{'id': 1, 'name': 0, 'slogan': 'Blend in to your crowd', 'category': 'Jackets', 'description': 'The So Fatigues will wake you up and fit you in. This high energy camo will have you blending in to even the wildest surroundings.', 'default_price': 140, 'styles': {}}

In [ ]:
product_db = {}

for i in range(len(product_df.index) - 1):
    row = product_df.loc[i]
    product_db[row.id] = {
        'id': row.id,
        'name': row.name,
        'slogan': row.slogan,
        'category': row.category,
        'description': row.description,
        'default_price': row.default_price,
        'styles': {}
    }

print(product_db[1])

In [52]:
product_db = {}

# get max rows of all df
# iterate over that max int
  # add the product info to the db
  # for the style table, add the style info if the productid matches
  # for the photos table add the row if it matches the style id 
  # for the skus add the row if it matches the style also

style_id_to_product_id = {}

max_rows = max(len(product_df.index), len(styles_df.index), len(photos_df.index), len(skus_df.index))
    
for i in range(max_rows):

    if i <= len(product_df.index):
        row = product_df.loc[i]
        product_db[row.id] = {
            'id': row.id,
            'name': row.name,
            'slogan': row.slogan,
            'category': row.category,
            'description': row.description,
            'default_price': row.default_price,
            'styles': {}
        }
        
    if i <= len(styles_df.index):
        row = styles_df.loc[i]
        
        style_id_to_product_id[row.id] = row.productId
        
        product_db[row.productId]['styles'] = {
            row.id: {
                'id': row.id,
                'name': row.name,
                'sale_price': row.sale_price,
                'photos': {},
                'skus': {}
            }
        }
        
    if i <= len(photos_df.index):
        row = photos_df.loc[i]
        
        print(product_db[style_id_to_product_id[row.styleId]]['styles'][row.styleId]['photos'])
        
        product_db[style_id_to_product_id[row.styleId]]['styles'][row.styleId]['photos'][row.id] = {
            row.id: {
                'id': row.id,
                'url': row.url,
                'thumbnail_url': row.thumbnail_url 
            }
        }
    
    if i <= len(skus_df.index):
        row = skus_df.loc[i]
        
        product_db[style_id_to_product_id[row.styleId]]['styles'][row.styleId]['skus'][row.id] = {
            'row.id': {
                'id': row.id,
                'size': row.size,
                'quantity': row.quantity
            }
        }

{}

KeyError: 1

In [24]:
for row in product_df.rows:
    print('i')

AttributeError: 'DataFrame' object has no attribute 'rows'

In [38]:
a = {}
a['1'] = {
    'id': '1',
    'me': 'you'
}

In [45]:
a[1] = { 1: { 'id': 1, 'url': 'hehehehhe'}}

In [46]:
a

{'1': {'id': '1', 'me': 'you'}, 1: {1: {'id': 1, 'url': 'hehehehhe'}}}

In [53]:
a= 1
b = { a: 'heello'}

In [54]:
b

{1: 'heello'}