In [84]:
import pandas as pd

In [85]:
pwd

'/Users/camhirsh/OneDrive/FILES/Mac2015/hackReactor/product'

In [86]:
product_df = pd.read_csv('product.csv')

In [88]:
len(product_df.index)

1000011

In [26]:
skus_df = pd.read_csv('skus.csv')

In [27]:
skus_df.head()

   id  styleId size  quantity
0   1        1   XS         8
1   2        1    S        16
2   3        1    M        17
3   4        1    L        10
4   5        1   XL        15

In [8]:
# errors due to unexpected extra column for some rows??
photos_df = pd.read_csv('photos.csv')

ParserError: Error tokenizing data. C error: Expected 4 fields in line 49, saw 5

In [9]:
photos_df = pd.read_csv("photos.csv", error_bad_lines=False)

b'Skipping line 49: expected 4 fields, saw 5\nSkipping line 203: expected 4 fields, saw 5\nSkipping line 216: expected 4 fields, saw 5\nSkipping line 224: expected 4 fields, saw 5\nSkipping line 231: expected 4 fields, saw 5\nSkipping line 243: expected 4 fields, saw 5\nSkipping line 248: expected 4 fields, saw 5\nSkipping line 255: expected 4 fields, saw 5\nSkipping line 262: expected 4 fields, saw 5\nSkipping line 269: expected 4 fields, saw 5\n'

In [10]:
photos_df.head()

,id,styleId,url,thumbnail_url
0,1,1,https://images.unsplash.com/photo-150108843004...,https://images.unsplash.com/photo-150108843004...
1,2,1,https://images.unsplash.com/photo-153401154671...,https://images.unsplash.com/photo-153401154671...
2,3,1,https://images.unsplash.com/photo-1549831243-a...,https://images.unsplash.com/photo-1549831243-a...
3,4,1,https://images.unsplash.com/photo-152752288352...,https://images.unsplash.com/photo-152752288352...
4,5,1,https://images.unsplash.com/photo-1556648202-8...,https://images.unsplash.com/photo-1556648202-8...

In [11]:
styles_df = pd.read_csv("styles.csv")

In [12]:
styles_df.head()

,id,productId,name,sale_price,original_price,default_style
0,1,1,Forest Green & Black,NaN,140,1
1,2,1,Desert Brown & Tan,NaN,140,0
2,3,1,Ocean Blue & Grey,100.0,140,0
3,4,1,Digital Red & Black,NaN,140,0
4,5,1,Sky Blue & White,100.0,140,0

In [82]:
# product: id name category slogan description default price
# syles: 
product_df.loc[len(product_df.index) - 1]

id                                                         1000011
name                                              Evangeline Shoes
slogan                     Aut recusandae tenetur sint laudantium.
description      Sunt recusandae laborum aut ut voluptatum in m...
category                                                     Shoes
default_price                                                  587
Name: 1000010, dtype: object

In [83]:
product_db = {}

for i in range(len(product_df.index) - 1):
    row = product_df.loc[i]
    product_db[row.id] = {
        'id': row.id,
        'name': row.name,
        'slogan': row.slogan,
        'category': row.category,
        'description': row.description,
        'default_price': row.default_price,
        'styles': {}
    }
print(product_db[1])

{'id': 1, 'name': 0, 'slogan': 'Blend in to your crowd', 'category': 'Jackets', 'description': 'The So Fatigues will wake you up and fit you in. This high energy camo will have you blending in to even the wildest surroundings.', 'default_price': 140, 'styles': {}}

In [ ]:
product_db = {}

for i in range(len(product_df.index) - 1):
    row = product_df.loc[i]
    product_db[row.id] = {
        'id': row.id,
        'name': row.name,
        'slogan': row.slogan,
        'category': row.category,
        'description': row.description,
        'default_price': row.default_price,
        'styles': {}
    }

print(product_db[1])

In [52]:
product_db = {}

# get max rows of all df
# iterate over that max int
  # add the product info to the db
  # for the style table, add the style info if the productid matches
  # for the photos table add the row if it matches the style id 
  # for the skus add the row if it matches the style also

style_id_to_product_id = {}

max_rows = max(len(product_df.index), len(styles_df.index), len(photos_df.index), len(skus_df.index))
    
for i in range(max_rows):

    if i <= len(product_df.index):
        row = product_df.loc[i]
        product_db[row.id] = {
            'id': row.id,
            'name': row.name,
            'slogan': row.slogan,
            'category': row.category,
            'description': row.description,
            'default_price': row.default_price,
            'styles': {}
        }
        
    if i <= len(styles_df.index):
        row = styles_df.loc[i]
        
        style_id_to_product_id[row.id] = row.productId
        
        product_db[row.productId]['styles'] = {
            row.id: {
                'id': row.id,
                'name': row.name,
                'sale_price': row.sale_price,
                'photos': {},
                'skus': {}
            }
        }
        
    if i <= len(photos_df.index):
        row = photos_df.loc[i]
        
        print(product_db[style_id_to_product_id[row.styleId]]['styles'][row.styleId]['photos'])
        
        product_db[style_id_to_product_id[row.styleId]]['styles'][row.styleId]['photos'][row.id] = {
            row.id: {
                'id': row.id,
                'url': row.url,
                'thumbnail_url': row.thumbnail_url 
            }
        }
    
    if i <= len(skus_df.index):
        row = skus_df.loc[i]
        
        product_db[style_id_to_product_id[row.styleId]]['styles'][row.styleId]['skus'][row.id] = {
            'row.id': {
                'id': row.id,
                'size': row.size,
                'quantity': row.quantity
            }
        }

{}

KeyError: 1

In [24]:
for row in product_df.rows:
    print('i')

AttributeError: 'DataFrame' object has no attribute 'rows'

In [38]:
a = {}
a['1'] = {
    'id': '1',
    'me': 'you'
}

In [45]:
a[1] = { 1: { 'id': 1, 'url': 'hehehehhe'}}

In [46]:
a

{'1': {'id': '1', 'me': 'you'}, 1: {1: {'id': 1, 'url': 'hehehehhe'}}}

In [53]:
a= 1
b = { a: 'heello'}

In [54]:
b

{1: 'heello'}